body {
  color: #999;
  width: 1000px;
  margin:0 auto 10px;
}

#side {
  margin-top: 10px;
  margin-right: 10px;
}

#content {
  margin-top: 10px;
}

/*
h1 {
  text-align: left;
  padding: .25em;
  color: #000;
}
*/

#header h1 {
    text-align: center;
    padding: 2em;
    background-color: #4671d5;
    background-image: url("/cpk-logo.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

#footer {
    background-color: #4671d5;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    font-size: 85%;
    padding-bottom: .25em;
    padding-top: .25em;
    text-align: center;
}

/*
form, form div {
  margin: .5em 0;
}

p.first-of-type {
  margin-top: .5em;
}

.yui3-loading #services {
  display: none;
}
*/

label {
  width: 30%;
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  min-width: 5em;
}

.tablabel {
  font-weight: bold;
  white-space: nowrap;
  min-width: 5em;
}

.submit {
    text-align: left;
}

.dk-main {
    min-height:36em;
    height:auto !important;
    height:36em;
}

.dk-tab {
    min-height:32em;
    height:auto !important;
    height:32em;
}
