body {
  color: #999;
  width: 1000px;
  margin:0 auto 10px;
}

#side {
  margin-top: 10px;
  margin-right: 10px;
}

#content {
  margin-top: 10px;
}

/*
h1 {
  text-align: left;
  padding: .25em;
  color: #000;
}
*/

#header h1 {
    text-align: center;
    padding: 2em;
    background-color: #ccc;
    background-image: url("/cpk-logo.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

#footer {
    font-size: 85%;
    background-color: #ccc;
    border-top: solid 1px #000;
    padding-top: .25em;
    border-bottom: solid 1px #000;
    padding-bottom: .25em;
}

/*
form, form div {
  margin: .5em 0;
}

p.first-of-type {
  margin-top: .5em;
}

.yui3-loading #services {
  display: none;
}
*/

label {
  width: 30%;
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  min-width: 5em;
}

.tablabel {
  font-weight: bold;
  white-space: nowrap;
  min-width: 5em;
}

.submit {
    text-align: left;
}

/* -------------------------- */
.aui-paginator-container {
    margin: 30px;
}

.contentA, .contentB {
    border:2px solid #CCCCCC;
    font-size:15px;
    margin:-10px 40px;
    padding:10px;
    width:534px;
}

.contentA div {
    display: none;
}

