body {
  color: #999;
  width: 960px;
  margin: auto 10px;
}

#side {
  margin-top: 10px;
  margin-right: 10px;
}

#content {
  margin-top: 10px;
}

h1 {
  text-align: left;
  background-color: #ccc;
  padding: .25em;
  color: #000;
}

#footer {
  border-top: solid 1px #000;
  font-size: 85%;
  padding-top: .25em;
}

form, form div {
  margin: .5em 0;
}

p.first-of-type {
  margin-top: .5em;
}

.yui3-loading #services {
  display: none;
}

label {
  width: 30%;
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  min-width: 5em;
}

.tablabel {
  font-weight: bold;
  white-space: nowrap;
  min-width: 5em;
}

.submit {
    text-align: left;
}

